@font-face {
  font-family: OpenSansCondensed;
  src: url('/assets/fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf');
}

@font-face {
  font-family: Inconsolata;
  src: url('/assets/fonts/Inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: Abel;
  src: url('/assets/fonts/Abel/Abel-Regular.ttf');
}

@font-face {
  font-family: Economica;
  src: url('/assets/fonts/Economica/Economica-Regular.ttf');
}
