div.collageContainer
  img(src="/assets/img/collage/collage1.jpg" id="collage1")
  img(src="/assets/img/collage/collage2.jpg" id="collage2")
  img(src="/assets/img/collage/collage3.jpg" id="collage3")
  img(src="/assets/img/collage/collage4.jpg" id="collage4")

div.arrows
  div.upArrow 
    span &#8963;
  div.downArrow 
    span &#8963;
