.collageContainer
  img(src="/assets/img/collage/collage1.jpg" id="coll-1" class="collagePic activeCollage")
  img(src="/assets/img/collage/collage2.jpg" id="coll-2" class="collagePic")
  img(src="/assets/img/collage/collage3.jpg" id="coll-3" class="collagePic")
  img(src="/assets/img/collage/collage4.jpg" id="coll-4" class="collagePic")

.arrows
  .upArrow 
    span &#8963;
    
  .downArrow 
    span &#8963;
