div.collageContainer
  img(src="/assets/img/collage/collage1.jpg" class="activeCollage")
  img(src="/assets/img/collage/collage2.jpg")
  img(src="/assets/img/collage/collage3.jpg")
  img(src="/assets/img/collage/collage4.jpg")

div.arrows
  div.upArrow 
    span &#8963;
    
  div.downArrow 
    span &#8963;
