.tinder
  .small-carousel
    img(src="/assets/img/portfolio/thumb1.jpg")
    img(src="/assets/img/portfolio/thumb2.jpg")
    img(src="/assets/img/portfolio/thumb3.jpg")
    img(src="/assets/img/portfolio/thumb4.jpg")
    img(src="/assets/img/portfolio/thumb5.jpg")
    img(src="/assets/img/portfolio/thumb6.jpg")
    img(src="/assets/img/portfolio/thumb7.jpg")
    img(src="/assets/img/portfolio/thumb8.jpg")
    img(src="/assets/img/portfolio/thumb9.jpg")
    img(src="/assets/img/portfolio/thumb10.jpg")

  .large-carousel
    .project-title
      h1 Tinder
      p Description
    img(src="/assets/img/portfolio/portfolio1.jpg" id="tinder-1")
    img(src="/assets/img/portfolio/portfolio2.jpg" id="tinder-2")
    img(src="/assets/img/portfolio/portfolio3.jpg" id="tinder-3")
    img(src="/assets/img/portfolio/portfolio4.jpg" id="tinder-4")
    img(src="/assets/img/portfolio/portfolio5.jpg" id="tinder-5")
    img(src="/assets/img/portfolio/portfolio6.jpg" id="tinder-6")
    img(src="/assets/img/portfolio/portfolio7.jpg" id="tinder-7")
    img(src="/assets/img/portfolio/portfolio8.jpg" id="tinder-8")
    img(src="/assets/img/portfolio/portfolio9.jpg" id="tinder-9")
    img(src="/assets/img/portfolio/portfolio10.jpg" id="tinder-10")
