.statementHolder
  p.statement
    |&nbsp;&nbsp;&nbsp;&nbsp;I see my plants and cactus growing, and the trees changing leaves. But many things are motionless: my neighbour downstairs walks her dog, the cats enjoy sun in the middle of the shop window inside the store in their neighbourhood, the girls look jealous to the pretty miss,  the fountain downstairs lights making the kids get wet.
    br
    br
    |&nbsp;&nbsp;&nbsp;&nbsp;I like to scrutinise these banal and routine situations, then I click. When people are not fully conscious about what is happening around them, isolated within themselves, when their mind is somewhere else, not aware of the camera being there and not aware of their existence in that specific moment.
    br
    br
    |&nbsp;&nbsp;&nbsp;&nbsp;My work explores human interaction, sometimes through staging. We distinguish real and imaginary, night and day, empty and full, happiness and sadness as interconnected opposites. At the same time the night cannot be day, or the fridge in your kitchen cannot suddenly be imaginary - those terms could not come closer to each other. We apply the same understanding to candid and posed photography, viewing them as opposite, by the absence or the presence of posing. I relish the chance to disobey the rule, breaking the opposite interconnection, and bringing them closer to the other - with or without creating a posed appearance. A chance of making them both to feel the same attracts me.
    br
    br
    |&nbsp;&nbsp;&nbsp;&nbsp;Whether inhabited by humans or not, I am fascinated about the world around us, conveying criticism, feelings of nostalgia and melancholy.
