//*
  border: 1px dashed blue
//html
  background-color: lightgrey

.homePageContent
  //transition: all 0.5s ease-in
  background-color: white
  position: absolute
  width: 100%
  max-width: 1280px
  height: 100vh
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  //background-color: pink


  .photoGrid
    transition: width 0.3s ease-in
    position: relative
    //background-color: lightblue
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    align-content: flex-start
    align-items: center
    top: 12%
    margin-left: 2.5%
    margin-right: 2.5%
    width: 95%
    max-width: 1216px
    height: 88%
    max-height: 704px
    .thumbContainer
      //transition: all 2s ease-in
      margin: 1.31578947368421%
      position: relative
      width: auto
      max-width: 260px
      img
        //transition: all 2s ease-in
        vertical-align: middle
        width: auto
        box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.6)
        filter: grayscale(100%)
        animation:
          name: hoverOut
          duration: 150ms
          timing-function: ease
          fill-mode: forwards

        &:hover
          filter: none
          animation:
            name: hoverIn
            duration: 150ms
            timing-function: ease
            fill-mode: forwards
          transform: translate(0, -1px)
          box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5)

  .isNav
    transition: all 0.5s ease-in
    width: 15.625%
    position: fixed
    top: 12vh
    //display: block
    text-align: center
    height: 100%
    max-width: 200px
    overflow: scroll
    margin-right: 0

    .thumbContainer
      //transition: all 1s ease-in
      margin: 0
      position: relative
      width: 100%
      bottom: 0
      left: 0
      img
        //transition: all 1s ease-in
        margin: 8%
        width: 84%

  @keyframes hoverIn
    0%
      //filter: grayscale(100%)
    100%
      filter: none


  @keyframes hoverOut
    0%
      filter: none

    100%
      //filter: grayscale(100%)

  .photoGrid .activeImg
    img
      box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5)
      filter: none


  .photoPreview
    //border: 1px dashed blue
    //background-color: coral
    display: none
    position: relative
    width: 80.625%
    //transition: all 1s ease
    //margin: 0 auto
    max-width: 1032px
    top: 14vh
    float: right
    img
      //transition: all 1s ease
      display: block
      margin: 0 auto
      //text-align: center
      max-width: 688px
      max-height: 688px
      width: auto
      height: auto

  .mobile-home
    display: none


@include tablet
  .homePageContent
    top: 12%

    .photoGrid
      display: none

    .photoPreview
      display: none

    .mobile-home
      display: flex
      flex-flow: column wrap
      align-items: center
      width: 100%
      max-width: 1023px
      margin: 0 auto

      .large-home-photos
        height: 100vh
        img
          max-width: 688px
          max-height: 688px
          width: auto
          height: auto
          top: 12vh
          margin: 0 auto

@include phone
  .homePageContent
    top: 12%

    .photoGrid
      display: none

    .photoPreview
      display: none

    .mobile-home
      display: flex
      flex-flow: column wrap
      align-items: center
      width: 100%
      max-width: 750px


      .large-home-photos
        height: 100vh
        img
          max-width: 688px
          max-height: 688px
          width: auto
          height: auto
