<header>

    <div class="logo">
      <a href="../index.html"><strong>Julia Marco</strong></a>
    </div>

    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../portfolio.html">Potfolio</a></li>
        <li>Projects <span>&#9660;</span>
          <ul class="drop-menu">
            <li><a href="../projects/project1.html">Project 1</a></li>
            <li><a href="../projects/project2.html">Project 2</a></li>
            <li><a href="../projects/project3.html">Project 3</a></li>
            <li><a href="../projects/project4.html">Project 4</a></li>
            <li><a href="../projects/project5.html">Project 5</a></li>
          </ul>
        </li>
        <li><a href="../collage.html">Collage</a></li>
        <li><a href="../statement.html">Statement</a></li>
        <li><a href="../contact.html">Contact</a></li>
      </ul>
    </nav>


</header>
