<div class="homePageContent">
  <!-- PHOTO GRID -->
  <div class="photoGrid">
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-1.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-2.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-3.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-4.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-5.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-6.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-7.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-8.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-9.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-10.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-11.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-12.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-13.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-14.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-15.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-16.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-17.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-18.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-19.jpg"></div>
    <div class="thumbContainer"><img src="/assets/img/grid/tgrid-20.jpg"></div>
  </div>
  <!-- PREVIEW OF ACTIVE PHOTO -->
  <div class="photoPreview">
    <img src="">
  </div>
</div>
